<div class="row" id="about-section">
  <div class="technolgies-container col-12">
    <div class="whoweares">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="row pt-4 ps-4 pb-4">
            <h2>Technolgies We Use at SunRay Designs</h2>
            <p>
              Below are just some of the technologies we use. Your website is not just a website, it
              is your business. We use the best technologies to ensure your website is fast, secure,
              and reliable. We are always learning new technologies to ensure we are using the best
              tools for your business. <i>Click on a technology logo to learn more about it.</i>
            </p>
          </div>
        </div>
      </div>
      @for (thetech of technologyList; track thetech.technologyid; let i = $index) {
        @if (i == 0 || i == 6 || i == 12) {
          <div class="row pt-5 pb-5">
            <div class="col-lg-2 col-sm-12 text-center">
              <a href="{{ thetech.url }}" target="_blank" rel="noopener noreferrer">
                <img
                  class="img-fluid logo"
                  src="/images/technologies/{{ thetech.image }}"
                  alt=""
                  style="max-width: 170px; height: auto"
                />
              </a>
            </div>
            <div class="col-lg-2 col-sm-12 text-center">
              <a href="{{ technologyList[i + 1].url }}" target="_blank" rel="noopener noreferrer">
                <img
                  class="img-fluid logo"
                  src="/images/technologies/{{ technologyList[i + 1].image }}"
                  alt=""
                  style="max-width: 170px; height: auto"
                />
              </a>
            </div>
            <div class="col-lg-2 col-sm-12 text-center">
              <a href="{{ technologyList[i + 2].url }}" target="_blank" rel="noopener noreferrer">
                <img
                  class="img-fluid logo"
                  src="/images/technologies/{{ technologyList[i + 2].image }}"
                  alt=""
                  style="max-width: 170px; height: auto"
                />
              </a>
            </div>
            <div class="col-lg-2 col-sm-12 text-center">
              <a href="{{ technologyList[i + 3].url }}" target="_blank" rel="noopener noreferrer">
                <img
                  class="img-fluid logo"
                  src="/images/technologies/{{ technologyList[i + 3].image }}"
                  alt=""
                  style="max-width: 170px; height: auto"
                />
              </a>
            </div>
            <div class="col-lg-2 col-sm-12 text-center">
              <a href="{{ technologyList[i + 4].url }}" target="_blank" rel="noopener noreferrer">
                <img
                  class="img-fluid logo"
                  src="/images/technologies/{{ technologyList[i + 4].image }}"
                  alt=""
                  style="max-width: 170px; height: auto"
                />
              </a>
            </div>
            <div class="col-lg-2 col-sm-12 text-center">
              <a href="{{ technologyList[i + 5].url }}" target="_blank" rel="noopener noreferrer">
                <img
                  class="img-fluid logo"
                  src="/images/technologies/{{ technologyList[i + 5].image }}"
                  alt=""
                  style="max-width: 170px; height: auto"
                />
              </a>
            </div>
          </div>
          <div class="row row px-3">
            <div class="col-12">
              <hr />
            </div>
          </div>
        }
      }
    </div>
  </div>
</div>
