.blog-container h1 {
  font-size: 50px;
  text-transform: initial;
  font-weight: bold;
  padding-bottom: 20px;
}
.blog-container p {
  font-size: 22px;
  line-height: 30px;
  color: #646464
}

table {
  width: fit-content;
}

.fit-content {
  width: 1%;
  white-space: nowrap;
}