.aboutbanner-container {
  width: 100%;
  height: 260px;
  background-image: url('/images/mcpbanner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.aboutbanner-container h1 {
  font-size: 44px;
  color: white;
  text-transform: initial;
  padding-bottom: 20px;
  font-weight: bold;
}

.aboutbanner-container h2 {
  font-size: 32px;
  color: rgb(250, 247, 247);
  text-transform: initial;
}

@media screen and (max-width: 768px) {
.aboutbanner-container {
    height: 200px;
  }
  .aboutbanner-container h1 {
    font-size: 30px;
    padding-bottom: 20px;
  }
.aboutbanner-container h2 {
  font-size: 20px;
  font-weight:lighter;
}
#header-image {
  display: none;
}
}