.designs-container {}

.designs-container .barn,
.whoweare-container .barn {
  text-align: center;
}

.designs-container h1 {
  color: #0374f5
}

.designs-container .barn h1.disabled {
  opacity: 30%;
  color: #000
}

.gallerydiv {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;}

#GalleryButton {
  font-family: 'Berylium Rg';
  border: 1px solid #4c86f1;
  border-radius: 8px;
  font-size: 20px;
  background-color: rgb(4, 84, 189);
  color: #afd3fc
}

#GalleryButton:hover {
  background-color: rgb(100, 173, 241);
  color: #003c58
}

@media screen and (max-width: 768px) {
  .getstartedbanner-container {
    height: 640px;
  }
.designs-container h1 {
  font-size: 24px;
  }
}